<mat-spinner *ngIf="!isChartLoaded" id="loader"></mat-spinner>
<div id="page">
  <header></header>
  <div id="main">
    <div class="section">
      <plotly-chart 
        [data]="plotlyData" 
        [layout]="plotlyLayout" 
        [options]="plotlyOptions" 
        [displayRawData]="false">
      </plotly-chart>
    </div>
    <div [hidden]="!isChartLoaded" class="section"></div>
    <div [hidden]="!isChartLoaded" class="section"></div>
    <div [hidden]="!isChartLoaded" class="section"></div>
  </div>
</div>

