#operators-div {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px; 
}

#loader {
  position: absolute !important; 
  width: auto !important;
  height: auto !important;
  left: 50%;
  top: 50%;
  z-index: 1; 
  -ms-transform: translate(-50%, -50%) !important; 
  -webkit-transform: translate(-50%, -50%) !important; 
  transform: translate(-50%, -50%) !important;
}

button {
  margin: 0px 25px 0px 25px;
  padding: 0;
  height: 100px;
  width: 120px;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}