<div id="header"> 
  <div id="left-side">
    <img src="../../../assets/r6siege-logo.png">
  </div>
  <div id="right-side">
    <div id="buttons">
      <button mat-button class="header-button" (click)="getDataFromDataService()">Linear Reggression Chart</button>
      <!-- <button mat-button class="header-button">Chart 2</button>
      <button mat-button class="header-button">Chart 3</button>
      <button mat-button class="header-button">Chart 4</button>
      <button mat-button class="header-button">Chart 5</button> -->
    </div>
  </div>
</div>
