#header {
  color: white;
  float: left;
  display: flex;
  background-color: rgb(48, 48, 48);
  height: 50px; 
  width: 100%;
  margin-bottom: 20px;
}

#left-side {
  width: 5%;
  border-bottom: 3px solid royalblue;
}

#right-side {
  width: 95%;
  border-bottom: 3px solid gray;
  line-height: 50px;
  padding-left: 20px;
  font-weight: bold;
}

#logo {
  position: relative;
  top: 50%;
  left: 50%;
  color: royalblue;
  transform: translate(-50%, -50%);
}

#upload-button {
  float: right;
  margin: 5px 10px 0px 0px;
}
