#table-container {
  float: left; 
  width: 60%; 
  height: 38%;
}

.table-data-container {
  display: flex;
  flex-direction: column;
  max-height: 77%;
  min-width: 300px;
  margin: 0px 4px 0px 10px;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
}

.mat-header-row {
  display: fixed;
}

.table-form {
  margin: 2px 0px 0px 14px;
}